.scores {
  &__header {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__datagrid {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }

  &__actions {
    display: flex;
  }

  &__button {
    text-align: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    span {
      margin-bottom: 0.5rem;
      display: block;
    }
  }

  &__render-headers {
    display: flex;
  }

  &__private {
    margin-top: 2rem;
    border-radius: 1rem;
    background: $color-white;
    box-shadow: 0 0 2rem rgba($color-black, 0.3);
    padding: 1rem;

    ul {

      li {
        font-size: 2rem;
        font-weight: 300;
        display: flex;
        margin-bottom: 1rem;

        span {
          font-weight: 600;
          flex: 0 0 30%;
        }
      }
    }
  }
}
