.scores {
  &__header {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__datagrid {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }

  &__actions {
    display: flex;
  }

  &__button {
    text-align: center;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }

    span {
      margin-bottom: 0.5rem;
      display: block;
    }
  }
}
