*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(phone) {
    font-size: 31.25%; //1rem = 5px
  }
}

body {
  font-family: "Inter", sans-serif;
  color: $color-black;
  background-color: $color-gray-light-1;
}
