.w100 {
  width: 100%;
}

.ml1 {
  margin-left: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mt2 {
  margin-top: 2rem;
}

.mr4 {
  margin-right: 4rem;
}

.fz1 {
  font-size: 1.6rem;
}

.icon-fill {
  &--black {
    svg {
      path {
        fill: $color-black !important;
      }
    }
  }
}

.icon-stroke {
  &--black {
    svg {
      path {
        stroke: $color-black !important;
      }
    }
  }
}