.register {
  margin: 4rem auto;
  padding: 4rem;
  height: max-content;
  background-color: $color-white;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem rgba($color-black, 0.3);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-image: linear-gradient(
    105deg,
    rgba($color-blue, 0.5) 0%,
    rgba($color-blue, 0.5) 50%,
    $color-white 50%
  );

  &__img {
    flex: 0 0 60%;

    img {
      width: 70%;
    }
  }

  &__content {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 800;
  }

  &__rules {
    font-size: 1.4rem;
    font-weight: 500;

    span {
      color: $color-primary-dark;
      cursor: pointer;
    }
  }

  &__redirect {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 500;

    span {
      color: $color-primary-dark;
      cursor: pointer;
    }
  }
}

@include respond(tab-port) {
  .register {
    padding: 2rem;
    background-image: linear-gradient(
      105deg,
      rgba($color-blue, 0.5) 0%,
      rgba($color-blue, 0.5) 45%,
      $color-white 45%
    );
  
    &__img {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
  
      img {
        width: 80%;
        height: auto;
      }
    }   

    &__content {
      flex: 0 0 45%;
    }
  
  }
}

@include respond(phone) {
  .register {
    padding: 2rem;
    background-image: linear-gradient(
      105deg,
      rgba($color-blue, 0.5) 0%,
      $color-white 0%
    );
    justify-content: center;
    
    &__img {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    &__content {
      flex: 0 0 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}