/*
responsive:
phone: max-width: 600
tablet-portrait: max-width: 900
tablet-landscape: max-width: 1200
big-desktop: min-width: 600
*/
@mixin respond($value) {
    @if $value == phone {
      @media (max-width: 600px) {
        @content;
      }
    }
    @if $value == tab-port {
      @media (max-width: 900px) {
        @content;
      }
    }
    @if $value == tab-land {
      @media (max-width: 1200px) {
        @content;
      }
    }
    @if $value == big-desktop {
      @media (min-width: 1800px) {
        @content;
      }
    }
  }
  