//COLORS
$color-primary: #3B82F6;
$color-primary-light: #a239ea;
$color-primary-dark: #301b3f;

$color-white: #fff;

$color-pure-black: #333;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-gray-light-1: #eee;
$color-gray-medium: #ddd;
$color-gray-dark: #333;

$color-yellow-dark: #FFB740;

$color-green-dark: #50CB93;

//GRID
$grid-width: 114rem;
$grid-width-medium: 80rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
