//COLORS
$color-primary: #3b82f6;
$color-primary-light: #d7e9f7;
$color-primary-light-1: #f2f8fd;
$color-primary-dark: #0351ce;

$color-white: #fff;

$color-black: #333;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-gray-light-1: #fafafa;
$color-gray-medium: #ddd;
$color-gray-dark: #555;

$color-yellow-light: #fcffa6;
$color-yellow: #f2f013;
$color-yellow-dark: #ffb740;

$color-green-light-1: #edfcf2;
$color-green-light: #bbf7d0;
$color-green: #16a34a;

$color-red-light-1: #fdf2f2;
$color-red-light: #ffdcdc;
$color-red: #dc2626;
$color-red-dark: #bb0303;

$color-blue: #3741fa;

//GRID
$grid-width: 114rem;
$grid-width-medium: 80rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
