.invite-code {
  margin: 4rem auto;
  padding: 4rem;
  height: max-content;
  background-color: $color-white;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem rgba($color-black, 0.3);

  &__title {
      margin-bottom: 4rem;
  }
}
