.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  border: 1px solid $color-primary;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}