.user-info {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__group-title {
    color: $color-gray;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
