.homeLogged {
  margin-top: 6rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__classes {
    display: flex;
    justify-content: space-between;
  }
}
