.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;

    &__header{
        font-size: 7rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    &__sub{
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 4rem;
    }
}