.review {
  &__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

.review-item {
  padding: 1rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba($color-black, 0.25);
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.8rem;

  & > * {
    margin-bottom: 0.5rem;

    span {
      margin-left: 1rem;
    }
  }
}

.review-detail {
  padding: 1rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba($color-black, 0.25);
  margin-bottom: 2rem;
  font-size: 1.8rem;
  margin-top: 2rem;

  &__title {
    margin-bottom: 2rem !important;
  }

  &__info {
    & > * {
      margin-bottom: 0.5rem;

      span {
        margin-left: 1rem;
        font-weight: 600;
      }
    }
  }

  &__comment {
    ul {
      li {
        margin-bottom: 2rem;

        .review-detail__comment-user {
          display: flex;
          margin-bottom: 1rem;

          img {
            width: 4rem;
            height: 4rem;
            border-radius: 999px;
            object-fit: cover;
          }

          div {
            margin-left: 2rem;
            background-color: $color-gray-medium;
            padding: 1rem;
            border-radius: 0.5rem;

            span {
              font-weight: 600;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}

.review-item.NEW {
  background-color: $color-primary-light-1;
}

.review-item.REJECTED {
  background-color: $color-gray-medium;
  box-shadow: none;
}

.review-item.APPROVED {
  background-color: $color-green-light-1;
}
