.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;

  @include respond(phone) {
    flex-direction: column-reverse;
  }


  &__content {
    flex: 0 0 50%; 

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > * {
        text-align: center;
      }
    }
  
  }

  &__header {
    font-size: 7rem;
    font-weight: 900;
    margin-bottom: 2rem;
    animation: moveInTop 1s ease-in-out 0s both;

    @include respond(tab-land) {
      font-size: 6rem;
    }

    @include respond(tab-port) {
      font-size: 4rem;
    }


  }

  &__sub {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    animation: moveInLeft 1s ease-in-out 0.3s both;
  }

  &__image {
    flex: 0 0 50%;
    animation: zoomIn 1s ease-in-out 0s both;

    img{
      width: 100%;
    }

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
}

