.card-create-grade-assignment {
  background-color: $color-white;
  display: flex;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba($color-black, 0.2);
  overflow: hidden;

  &__content {
    flex: 1;
    padding: 2rem;
  }

  &__action {
    display: flex;
    width: max-content;
    background-color: $color-green;
    padding: 0 0.5rem;
    & > button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
