.card {
  flex: 0 0 31%;
  animation: zoomIn 0.5s ease-in-out 0s both;
  
  @include respond(tab-land) {
    flex: 0 0 32%;
  }

  @include respond(tab-port) {
    flex: 0 0 45%;
  }

  @include respond(phone) {
    flex: 0 0 100%;
  }

  &__box {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba($color-black, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 0 2rem rgba($color-black, 0.5);
    }
  }
  

  &__image {
    width: 100%;
    height: 20rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__desc {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__teacher {
    font-size: 1.6rem;
    font-weight: 500;

    span {
      color: $color-primary;
      font-weight: 400;
    }
  }
  &__time {
    height: 60%;
  }

  &__status {
    margin-top: 4rem;
  }

  &__time-only {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__time-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }
}
