.form {
  padding: 3rem;

  &__title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 4rem;
  }

  &__group {
    margin-bottom: 2rem;
  }

  &__date-file {
    align-items: center;
    margin-bottom: 4rem;
    
    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 500;
    &--text {
      display: block;
      transition: all 0.3s;
      margin-left: 2rem;
      opacity: 1;
      visibility: visible;
      transform: translateY(-6.5rem);
    }
    &--date {
      margin-right: 2rem;
    }
  }

  &__group-btn {
    display: flex;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
