.card-grade-assignment-overview {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: $color-primary;
  color: $color-white;
  width: 12rem;
}

.card-grade-assignment-overview__title {
  font-size: 1.5rem;
}

.card-grade-assignment-overview__score {
  font-size: 4rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
